---
const { content } = Astro.props;
---

<section class="mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8 lg:py-24">
  <div class="text-center">
    <h2
      class="text-balance text-4xl font-bold tracking-tight text-foreground sm:text-5xl lg:text-6xl"
    >
      {content.title}
    </h2>
    <p
      class="mx-auto mt-6 max-w-2xl text-pretty text-lg max-md:text-sm leading-relaxed text-muted-foreground"
    >
      {content.description}
    </p>
  </div>

  <div class="mt-12 flex flex-wrap items-center justify-center gap-8 max-md:grid max-md:grid-cols-2 max-md:mx-auto">
    {
      content.stack.map((tech: any) => (
        <div class="rounded-lg w-full max-w-48 h-48 flex flex-col items-center justify-between max-md:justify-around border border-border bg-card px-8 py-4 max-md:px-4 max-md:py-2 text-sm font-medium text-card-foreground hover:shadow-md hover:shadow-[#3e3e3e] transition-shadow max-md:mx-auto">
          <img
            src={tech.icon}
            alt={tech.title}
            class="w-12 h-12 aspect-square object-cover bg-[#3e3e3e] p-2 rounded-md"
          />
          <p class="text-lg">{tech.title}</p>
          <p class="w-full text-xs text-muted-foreground text-center">{tech.description}</p>
        </div>
      ))
    }
  </div>
</section>
